$container-width: 600px;
$gutter-width: 24px;

$themes: (
  _default: (
    primary: #011F3B,
    secondary: #133052,
    gray: #B9B9B9,
    gray-lightest: #F0F0F0,
    black: #212D3D,
    white: white,
  ),
);

@function color-get($color-name: primary, $theme-name: _default) {
  @return map-get(map-get($themes, $theme-name), $color-name);
}

$font-family: "Proximo Nova", Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-base: 14px;
$font-weight-base: normal;
$font-family-base: $font-family;
$line-height-base: 120%;

$body-bg: color-get(gray-lightest);
$container-color: color-get(white);

$gutter-half: $gutter-width / 2;

$font-size-title: 18px;
$font-size-subtitle: 14px;
$font-size-paragraph: 12px;

$breakpoints: (
  threshold: $container-width,
  mobile: 415px,
);
